@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --bg: #f8f8f8;
  --grey: #999;
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --wrapper: 1000px;
  --blue: #00b0ff;
  --red: #e85151;
  --green: rgb(26, 188, 156);
}

a {
        color: inherit;
        text-decoration: none;
}

ul{
   list-style:none;
   padding-left:0px;
   }

.container {
  position: relative;
  left: 28%;
}

.container .right {
  position: relative;
  width: 450px;
  height: 630px;
  border: 1px solid var(--light);
  box-shadow: 0 0 8px 1px var(--light);
}

.container .right .top {
	position: relative;
	top:-42px;
	width: 100%;
	height: 56px;
	padding: 15px 29px;
	background-color: var(--white);
	border: 1px solid var(--light);
 /*  border-radius: 8px; */
  /* box-shadow: 0 0 10px 1px var(--light); */
}

.container .right .top span {
  font-size: 18px;
  font-family:Pretendard;
  font-weight: 600;
  color: var(--grey);
}

.container .right .top span .name {
	display: inline-block;
	position: relative;
	left:10px;
	font-size: 20px;
	font-family:Pretendard;
	font-weight: 600;
	color: var(--dark);
}

.bi-exclamation-triangle-fill {
	display: inline-block;
	position: relative;
	top:14px;
	left:326px;
	width: 42px;
	height: 42px;
	margin-left: 10px;
	color: var(--red) ;
	font-size: 26px;
	line-height: 22px;
	z-index:2;
	cursor:pointer;

}

.bi-hand-thumbs-up-fill{
	display: inline-block;
	position: relative;
	top:13px;
	left:326px;
	width: 42px;
	height: 42px;
	margin-left: 10px;
	color: var(--blue) ;
	font-size: 26px;
	line-height: 22px;
	cursor:pointer;
	z-index:2;
}


.container .right .chat {
  position: relative;
  top:-43px;
  padding: 0 35px 92px;
  height: calc(100% - 132px);
  justify-content: flex-end;
  flex-direction: column;
  border: none;
}

.container .right .chat.active-chat {
  display: flex;
  overflow-y: auto;
  justify-content: flex-start;
}

.container .right .write {
  position: relative;
  bottom: 26px;
  left: 30px;
  height: 42px;
  padding-left: 8px;
  border: 1px solid var(--light);
  background-color: var(--light);
  width: calc(100% - 58px);
  border-radius: 5px;
}

.container .right .write .text {
	position:relative;
	top:0px;
	left:11px;
	font-size: 16px;
	width: 300px;
	height: 38px;
	padding: 0 10px;
	color: var(--dark);
	border: 0;
	outline: none;
	background-color: var(--light);
	font-family:Pretendard;
	font-weight: 400;
}

.container .right .write .write-link.send{
	border:none;
	background-color:var(--light);
  	display: inline-block;
  	position:relative;
  	top:2px;
  	right:-8px;
  	width: 20px;
  	height: 36px;
   	cursor: pointer;
}

.container .right .write .write-link.attach:before {
  display: inline-block;
  position:relative;
  top:2px;
  right:-8px;
  width: 20px;
  height: 36px;
  cursor: pointer;
}

.bi-image, .bi-send{
	color:var(--dark);
	font-size: 20px;
}

.bi-image:hover, .bi-send:hover{
	color:var(--grey);
}

.container .right .modalSend {
  position: relative;
  left: 42px;
  width: 180px;
  height: 42px;
  padding: 0 15px;
  border: 1px solid var(--light);
  background-color: #eceff1;
  border-radius: 21px;
  font-family:Pretendard;
  font-weight: 400;
  cursor: pointer;
}

.container .right .bubble {
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 5px;
}
.container .right .bubble:before {
  position: absolute;
  top: 19px;
  display: block;
  width: 8px;
  height: 6px;
  content: " ";
  transform: rotate(29deg) skew(-35deg);
}
.container .right .bubble.you {
  float: left;
  color: var(--dark);
  background-color: var(--light);
  font-family:Pretendard;
  font-weight: 400;
  align-self: flex-start;
  animation-name: slideFromLeft;
}
.container .right .bubble.you:before {
  left: -3px;
  background-color: var(--light);
}
.container .right .bubble.me {
  float: right;
  color: var(--white);
  background-color:var(--green);
  font-family:Pretendard;
  font-weight: 400;
  align-self: flex-end;
  animation-name: slideFromRight;
}
.container .right .bubble.me:before {
  right: -3px;
  background-color:var(--green);
}
.container .right .conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;
}
.container .right .conversation-start span {
  font-size: 14px;
  display: inline-block;
  color: var(--grey);
}
.container .right .conversation-start span:before, .container .right .conversation-start span:after {
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 30%;
  height: 1px;
  content: "";
  background-color: var(--light);
}
.container .right .conversation-start span:before {
  left: 0;
}
.container .right .conversation-start span:after {
  right: 0;
}

/* css 커스텀 */

.fileName{
  font-size: 12px;
  float: left;
  color: var(--grey);
  font-weight: 400;
}

.image-container {
	float:left;
    width: 60px;
    height: 60px;
    overflow:hidden;
}

#image-preview {
    max-width: 100%;
   	height:auto;
}

.file-info {
	float:left;
    padding: 10px;
    width: 170px;
}

.file-name {
	width: 170px; 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.modal {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);

    justify-content: center;
    align-items: center;
    z-index: 2; 
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	width: 300px;
	height: 400px;
	padding: 20px;
	border-radius: 5px;
	overflow-y: auto;
}

.close {
	position: absolute;
	top: 6px;
	right: 18px;
	cursor: pointer;
	font-size:24px;
}



/* css 커스텀 */

.banner{
	width:1500px;
	display:inline-block;
	border-bottom: 1px solid var(--light);
}

.header{
	display:flex;
	width:1280px;
	height:72px;
	margin:0 110px;
	align-items:center;
}

.logo{
	position: relative;
	width:241px;
	height:70px;
}

.logo_matchDog{
	position: absolute;
	top:8px;
	left:20px;
	display:block;
	width:auto;
	height:44px;
}

.gnb{
	position:relative;
	top:2px;
	left:860px;
}


.logout{
	display: inline-block;
	position: relative;
	left: 24px;
	width: 120px;
	height: 32px;
	padding: 4px 15px 0 15px;
	border: 1px solid var(--light);
	background-color: #eceff1;
	border-radius: 8px;
	font-family:Pretendard;
	font-weight: 500;
	text-align: center;
}

.mainContainer{
	display:flex;
	width:1280px;
	margin:auto;
}

.side{
	width: 240px;
	padding-left:14px;
}

.side .menu{
	/* position: fixed; */
	padding: 32px 20px 24px 0;
}

.content{
	flex:1;
	width:640px;
	padding:30px 46px 80px;
	box-sizing: border-box;
	border-left: 1px solid #e6e6e6;
	border-width: 0 1px;
}


.btn_gnb{
    display: flex;
    align-items: center;
    height: 52px;
    margin-top: 14px;
    padding: 6px 8px;
    box-sizing: border-box;
    border-radius: 6px;
    font-family:Pretendard;
	font-weight: 500;
    font-size: 20px;
}


.bi-bell-fill{
	position:relative;
	color: var(--black) ;
	font-size: 28px;
	top:4px;
}

.bi-house-door-fill, .bi-chat-dots-fill, .bi-gear-fill, 
.bi-people-fill, .bi-person-circle, .bi-list-ul{
	position:relative;
	color: var(--black) ;
	font-size: 22px;
	margin-right:10px;
}

.breedType{
	display: inline-block;
	position: relative;
	width: auto;
	height: 20px;
	top:-2px;
	padding: 1px 15px 0 15px;
	border: 1px solid var(--light);
	background-color: var(--green);
	border-radius: 8px;
	font-family:Pretendard;
	color:var(--white);
	font-weight: 400;
	text-align: center;
	font-size: 13px;
}

.myName{
	font-family:Pretendard;
	color:var(--grey);
	font-weight:300;
	font-size:12px;
	margin-left:2px;
	margin-bottom:8px;
}

.name{
	font-family:Pretendard;
	color:var(--dark);
}

.preview{
	font-family:Pretendard;
	color:var(--grey);
	font-size: 13px;
	font-weight:300;
}

.msgRead{
  display:inline-block;
  position:relative;
  top:-6px;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  border: 1px solid var(--light);
  background-color: var(--red);
  background-repeat: no-repeat;
  border-radius: 50%;
  font-family:Pretendard;
  color:var(--white);
  font-size:12px;
  text-align: center;
}

.page-item{
	display:inline-block;
	margin-left : 10px;
	font-family:Pretendard;
}

.logout:hover{
	color: var(--white);
    background-color: var(--green);
}

