<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.one.mat.main.dao.MatchingDAO">
 <select id="matchingList" parameterType="map"  resultType="map">
        SELECT
            m.member_gender,
            m.member_dongAddr,
            p.pro_dogName,
            p.pro_dogAge,
            p.pro_dogGender,
            p.pro_dogDesc
        FROM member AS m
        INNER JOIN pro AS p ON m.member_idx = p.member_idx
        WHERE m.member_dongAddr = (SELECT member_dongAddr FROM member WHERE member_idx = #{member_idx})
        AND p.pro_rep = 'Y'
        AND p.pro_idx IN (
            SELECT pro_idx FROM `char` WHERE charType_code IN (
                SELECT charType_code
                FROM `char`
                WHERE pro_idx = #{pro_idx}
            )
            GROUP BY pro_idx
            HAVING COUNT(*) = 4
        )
        ORDER BY RAND()
        LIMIT 10
</select>


<!-- <select id="matchingListCharType" resultType="String">
select charType
from pro p
INNER JOIN `char` c ON p.pro_idx = c.pro_idx
INNER JOIN chartype ct ON c.charType_code = ct.charType_code where p.pro_idx=1;
</select> -->


	<!-- <insert id="join" parameterType="map">
		INSERT INTO member(id,pw,name,age,gender,email)
			VALUES(#{id},#{pw},#{name},#{age},#{gender},#{email})
	</insert>
	<insert id="setPermission">
		INSERT INTO author(id,perm) VALUES(#{param1},#{param2})
	</insert>
	<select id="login" parameterType="map" resultType="map">
		SELECT m.id, a.perm, m.name FROM member m LEFT JOIN author a ON m.id = a.id		
		 WHERE m.id = #{id} AND m.pw = #{pw}
	</select>
	<select id="memberList" resultType="map">
		SELECT id,name,email FROM member
	</select> -->
</mapper>