<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.one.mat.main.dao.MatchingDAO">
 <select id="matchingList" resultType="map">
		SELECT
    m.member_gender
    ,m.member_dongAddr
    ,p.pro_dogName
    ,p.pro_dogAge
    ,p.pro_dogGender
    ,p.pro_dogDesc
   	,bt.breedType
FROM member m
LEFT JOIN pro p ON m.member_idx = p.member_idx
LEFT JOIN breed b ON p.pro_idx = b.pro_idx
LEFT JOIN `char` c ON p.pro_idx = c.pro_idx
LEFT JOIN breedtype bt ON b.breedType_code = bt.breedType_code
WHERE p.pro_idx = 1
GROUP BY m.member_dongAddr, p.pro_dogName, p.pro_dogAge, p.pro_dogGender
</select>

<select id="matchingListCharType" resultType="String">
select charType
from pro p
INNER JOIN `char` c ON p.pro_idx = c.pro_idx
INNER JOIN chartype ct ON c.charType_code = ct.charType_code where p.pro_idx=1;
</select>


	<!-- <insert id="join" parameterType="map">
		INSERT INTO member(id,pw,name,age,gender,email)
			VALUES(#{id},#{pw},#{name},#{age},#{gender},#{email})
	</insert>
	<insert id="setPermission">
		INSERT INTO author(id,perm) VALUES(#{param1},#{param2})
	</insert>
	<select id="login" parameterType="map" resultType="map">
		SELECT m.id, a.perm, m.name FROM member m LEFT JOIN author a ON m.id = a.id		
		 WHERE m.id = #{id} AND m.pw = #{pw}
	</select>
	<select id="memberList" resultType="map">
		SELECT id,name,email FROM member
	</select> -->
</mapper>