<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.one.mat.matchList.dao.MatchListDAO">

	<select id="proIdx" resultType="com.one.mat.member.dto.ProfileDTO">
		SELECT pro_idx FROM pro WHERE member_idx = #{param1} 
	</select>
	
	<select id="proSendIdx" resultType="com.one.mat.matchList.dto.MatchListDTO">
		SELECT match_idx, pro_sendIdx, pro_recvIdx,match_succeed FROM `match` WHERE pro_recvIdx = #{param1}
	</select>
	<select id="timeInfo" resultType="com.one.mat.matchList.dto.MatchListDTO">
		SELECT
		CASE
		WHEN DATE(match_req) = DATE(NOW()) THEN TIME_FORMAT(match_req, '%H:%i')
		ELSE DATE_FORMAT(match_req , '%Y-%m-%d')
		END AS matchTime
		FROM `match` m WHERE pro_recvIdx = #{param1};
	</select>

	<select id="proInfo" resultType="com.one.mat.matchList.dto.MatchListDTO">
		SELECT p.pro_idx,pt.photo_fileName, bt.breedType, p.pro_dogName
		FROM pro p 
		INNER JOIN breed b ON p.pro_idx = b.pro_idx
		INNER JOIN breedtype bt ON b.breedType_code = bt.breedType_code
		INNER JOIN photo pt ON pt.photo_idfNum = p.pro_idx 
		WHERE pt.photo_type = 4 AND p.pro_idx = #{param1} ORDER BY pt.photo_id ASC LIMIT 1
	</select>
	<select id="charInfo" resultType="String">
		SELECT ct.charType FROM `char` c INNER JOIN chartype ct 
		ON c.charType_code = ct.charType_code WHERE c.pro_idx = #{param1}
	</select>
	<select id="myDogName" resultType="String">
		SELECT pro_dogName FROM pro WHERE pro_idx = #{param1}
	</select>
	<select id="photoInfo" resultType="String">
		SELECT pt.photo_fileName
		FROM pro p 
		INNER JOIN photo pt ON pt.photo_idfNum = p.pro_idx 
		WHERE pt.photo_type = 4 AND p.pro_idx = #{param1} ORDER BY pt.photo_id ASC LIMIT 1
	</select>

	<!-- 요청 수락 -->
<!-- 	<select id="chatDuplication" resultType="int">
		SELECT chat_idx FROM chat WHERE match_idx=#{param1}
	</select> -->
	<update id="sendOpen">
		UPDATE `match` SET match_succeed = 'Y' WHERE match_idx = #{param1}
	</update>
	<insert id="chatOpen">
		INSERT INTO chat(match_idx,chat_regDate) VALUES(#{param1},NOW())
	</insert>
	<select id="chatMove" resultType="int">
		SELECT chat_idx FROM chat WHERE match_idx=#{param1} ORDER BY chat_idx DESC LIMIT 1
	</select>
	
	<select id="selectSendRecvIdx" resultType="com.one.mat.alarm.dto.AlarmDTO">
		SELECT pro_sendIdx, pro_recvIdx 
		FROM match
		WHERE match_idx IN (SELECT match_idx FROM chat WHERE match_idx = #{param1})
	</select>
	
	<insert id="newChattingRoomAlarm">
		INSERT INTO alarm (pro_sendIdx, pro_recvIdx, alarm_type, alarm_msg) 
		VALUES (#{param1}, #{param2}, 2, '님께 보낸 매칭이 수락되었습니다')
	</insert>
	
	<select id="adminCheckDo" resultType="int">
		SELECT subsType_code FROM member m INNER JOIN subs s ON m.member_idx =s.member_idx WHERE m.member_idx =#{param1}
	</select>
	
 
  </mapper>