<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.one.mat.chatting.dao.ChattingDAO">
	<!-- <select id="boardList" resultType="kr.co.gudi.dto.BoardDTO">
		SELECT b.idx, b.subject, b.user_name, b.bHit, (SELECT count(idx) FROM photo p WHERE b.idx= p.idx) AS img FROM bbs b
	</select> -->
	<select id="proIdx" resultType="com.one.mat.member.dto.ProfileDTO">
		SELECT pro_idx FROM pro WHERE member_idx = #{param1} 
	</select>
	<select id="matIdx" resultType="com.one.mat.main.dto.MatchingDTO">
	SELECT pro_recvIdx AS pro_idx FROM `match` WHERE pro_sendIdx = #{param1} AND match_succeed = 'Y'
	UNION ALL 
	SELECT pro_sendIdx AS pro_idx FROM `match` WHERE pro_recvIdx = #{param1} AND match_succeed = 'Y';
	</select>
	
	<!-- <select id="chattingListDo" resultType="com.one.mat.member.dto.ProfileDTO">
		SELECT idx, subject, user_name, bHit, reg_date
			FROM bbs ORDER BY idx DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="totalPage" resultType="int">
		SELECT CEIL(COUNT(idx)/#{param1}) AS pages FROM bbs
	</select> -->
 
 </mapper>