<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.one.mat.admin.dao.AuthDAO">

<select id="authListDo" resultType="com.one.mat.admin.dto.AuthDTO">
  	SELECT * from substype
 </select>
 <select id="authDetailListDo" resultType="HashMap" parameterType="int">
SELECT *
   FROM substype
   WHERE subsType_code = #{param1}
 </select>

<select id="authCode" resultType="Integer" parameterType="int">
SELECT a.authType_code
from substype s
join auth a on s.subsType_code=a.subsType_code where s.subsType_code = #{param1}
 </select>


<select id="authCodeListDo" resultType="com.one.mat.admin.dto.AuthDTO">
SELECT * from authtype
</select>

<update id="authDetailModUpdateDo" parameterType="map">
UPDATE substype st
JOIN auth a ON st.subsType_code = a.subsType_code
SET st.subs_desc = #{subs_desc}
WHERE st.subsType_code = #{subsType_code}
</update>

<delete id="authcodeDel">
DELETE FROM auth 
WHERE subsType_code = #{param1}
</delete>

<insert id="newAuthCodesSave">
INSERT INTO auth (subsType_code, authType_code)
VALUES (#{param1}, #{param2})

</insert>

</mapper>  