<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.one.mat.admin.dao.CompDAO">
<select id="list" resultType="com.one.mat.admin.dto.CompDTO">
	SELECT 
    comp.comp_idx, 
    comp.comp_memberIdx,
    comp.compType_code,
    comp.comp_loc,
    comp.comp_idfNum,
    comp.comp_content,
    comp.comp_receiveDate,
    comp.comp_reportIdx,
    comptype.compType,
    comphistory.comp_handleDate,
    comphistory.comp_handleState
FROM comp
INNER JOIN comptype ON comp.compType_code = comptype.compType_code
LEFT JOIN comphistory ON comp.comp_idx = comphistory.comp_idx ORDER BY comp.comp_idx DESC
LIMIT #{param1} OFFSET #{param2}
	</select>
	<select id="list3" resultType="com.one.mat.admin.dto.CompDTO">
	SELECT 
    comp.comp_idx, 
    comp.comp_memberIdx,
    comp.compType_code,
    comp.comp_loc,
    comp.comp_idfNum,
    comp.comp_content,
    comp.comp_receiveDate,
    comp.comp_reportIdx,
    comptype.compType,
    comphistory.comp_handleDate,
    comphistory.comp_handleState
FROM comp
INNER JOIN comptype ON comp.compType_code = comptype.compType_code
LEFT JOIN comphistory ON comp.comp_idx = comphistory.comp_idx
WHERE comphistory.comp_handleState = 'Null' OR comphistory.comp_handleState = '미처리' ORDER BY comp.comp_idx DESC
LIMIT #{param1} OFFSET #{param2}
	</select>
	<select id="list4" resultType="com.one.mat.admin.dto.CompDTO">
	SELECT 
    comp.comp_idx, 
    comp.comp_memberIdx,
    comp.compType_code,
    comp.comp_loc,
    comp.comp_idfNum,
    comp.comp_content,
    comp.comp_receiveDate,
    comp.comp_reportIdx,
    comptype.compType,
    comphistory.comp_handleDate,
    comphistory.comp_handleState
FROM comp
INNER JOIN comptype ON comp.compType_code = comptype.compType_code
LEFT JOIN comphistory ON comp.comp_idx = comphistory.comp_idx
WHERE comphistory.comp_handleState = '처리중'ORDER BY comp.comp_idx DESC
LIMIT #{param1} OFFSET #{param2}
	</select>
	<select id="list5" resultType="com.one.mat.admin.dto.CompDTO">
		SELECT 
    comp.comp_idx, 
    comp.comp_memberIdx,
    comp.compType_code,
    comp.comp_loc,
    comp.comp_idfNum,
    comp.comp_content,
    comp.comp_receiveDate,
    comp.comp_reportIdx,
    comptype.compType,
    comphistory.comp_handleDate,
    comphistory.comp_handleState
FROM comp
INNER JOIN comptype ON comp.compType_code = comptype.compType_code
LEFT JOIN comphistory ON comp.comp_idx = comphistory.comp_idx
WHERE comphistory.comp_handleState = '처리완료'ORDER BY comp.comp_idx DESC
LIMIT #{param1} OFFSET #{param2}
	</select>
	<select id="list6" resultType="com.one.mat.admin.dto.CompDTO">
		SELECT 
    comp.comp_idx, 
    comp.comp_memberIdx,
    comp.compType_code,
    comp.comp_loc,
    comp.comp_idfNum,
    comp.comp_content,
    comp.comp_receiveDate,
    comp.comp_reportIdx,
    comptype.compType,
    comphistory.comp_handleDate,
    comphistory.comp_handleState
FROM comp
INNER JOIN comptype ON comp.compType_code = comptype.compType_code
LEFT JOIN comphistory ON comp.comp_idx = comphistory.comp_idx
WHERE comp.comp_loc = 1 ORDER BY comp.comp_idx DESC
LIMIT #{param1} OFFSET #{param2}
	</select>
	<select id="list7" resultType="com.one.mat.admin.dto.CompDTO">
		SELECT 
    comp.comp_idx, 
    comp.comp_memberIdx,
    comp.compType_code,
    comp.comp_loc,
    comp.comp_idfNum,
    comp.comp_content,
    comp.comp_receiveDate,
    comp.comp_reportIdx,
    comptype.compType,
    comphistory.comp_handleDate,
    comphistory.comp_handleState
FROM comp
INNER JOIN comptype ON comp.compType_code = comptype.compType_code
LEFT JOIN comphistory ON comp.comp_idx = comphistory.comp_idx
WHERE comp.comp_loc = 3 ORDER BY comp.comp_idx DESC
LIMIT #{param1} OFFSET #{param2}
	</select>
	<select id="list8" resultType="com.one.mat.admin.dto.CompDTO">
		SELECT 
    comp.comp_idx, 
    comp.comp_memberIdx,
    comp.compType_code,
    comp.comp_loc,
    comp.comp_idfNum,
    comp.comp_content,
    comp.comp_receiveDate,
    comp.comp_reportIdx,
    comptype.compType,
    comphistory.comp_handleDate,
    comphistory.comp_handleState
FROM comp
INNER JOIN comptype ON comp.compType_code = comptype.compType_code
LEFT JOIN comphistory ON comp.comp_idx = comphistory.comp_idx
WHERE comp.comp_loc = 2 ORDER BY comp.comp_idx DESC
LIMIT #{param1} OFFSET #{param2}
	</select>
	

	
	<select id="totalPage" resultType="int">
		SELECT CEIL(COUNT(comp_idx)/#{param1}) AS pages FROM comp
	</select>
	<update id="changeCheck" parameterType="int">
	update comphistory set comp_handleState = '처리완료', comp_handleDate = CURRENT_TIMESTAMP 
		where comp_idx = #{id}
	</update>
	<select id="search" resultType="com.one.mat.admin.dto.CompDTO">
	
	SELECT
	        comp.comp_idx, 
    comp.comp_memberIdx,
    comp.compType_code,
    comp.comp_loc,
    comp.comp_idfNum,
    comp.comp_content,
    comp.comp_receiveDate,
    comp.comp_reportIdx,
    comptype.compType,
    comphistory.comp_handleDate,
    comphistory.comp_handleState
	    FROM comp 
	    INNER JOIN comptype ON comp.compType_code = comptype.compType_code
LEFT JOIN comphistory ON comp.comp_idx = comphistory.comp_idx 
	    WHERE
		    <choose>
		        <when test="param3 == 'comp_content'">
		            comp_content LIKE CONCAT('%',#{param4},'%')
		        </when>
		        <when test="param3 == 'comp_reportIdx'">
		            comp_reportIdx LIKE CONCAT('%',#{param4},'%')
		        </when>
		        <when test="param3 == 'comp_idfNum'">
		            comp_idfNum LIKE CONCAT('%',#{param4},'%')
		        </when>
		    </choose>
	    ORDER BY comp.comp_idx DESC
	    LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="detailList" resultType="com.one.mat.admin.dto.CompDTO">
    SELECT
        comp.*,
        photo.photo_fileName,
        comphistory.comp_handleDate,
        (SELECT member_id FROM member WHERE member_idx = #{member_idx}) as member_id
    FROM comp
    LEFT JOIN photo ON comp.comp_idx = photo.photo_idfNum AND photo.photo_type = 3
    LEFT JOIN comphistory ON comp.comp_idx = comphistory.comp_idx
    WHERE comp.comp_idx = #{comp_idx}
</select>

<select id="getMemberIdByCompId" resultType="string">
        SELECT m.member_id
        FROM member m
        JOIN comp c ON m.member_idx = c.comp_memberIdx
        WHERE c.comp_idx = #{comp_idx}
    </select>
    <select id="reMemerIdByCompId" resultType="string">
        SELECT m.member_id
        FROM member m
        JOIN comp c ON m.member_idx = c.comp_reportIdx
        WHERE c.comp_idx = #{comp_idx}
    </select>
	
<insert id="loginLock" parameterType="com.one.mat.admin.dto.CompDTO">
INSERT INTO loginlock (member_idx, compHistory_idx, loginLock_sDate, loginLock_eDate)
VALUES (
    (SELECT comp_memberIdx FROM comp WHERE comp_idx = #{comp_idx}),
    (SELECT compHistory_idx FROM comphistory WHERE comp_idx = #{comp_idx}),
    #{loginLock_sDate},
    #{loginLock_eDate}
);
</insert>
<update id="proRegistUpdate" parameterType="com.one.mat.admin.dto.CompDTO">
UPDATE comphistory
SET admin_memberIdx = #{admin_memberIdx},
    comp_handleState = #{comp_handleState},
    comp_blindStete = #{comp_blindStete},
    member_loginLock = #{member_loginLock},
    comp_handleDate = NOW(),
    comp_handleContent = #{comp_handleContent}
WHERE comp_idx = #{comp_idx}
</update>

<select id="compHistoryrec" resultType="com.one.mat.admin.dto.CompDTO">
SELECT ll.*, ch.member_loginLock,ch.comp_handleContent
FROM loginlock ll
JOIN comphistory ch ON ll.compHistory_idx = ch.compHistory_idx
WHERE ch.comp_idx = #{comp_idx}
ORDER BY ll.loginLock_id  DESC 
LIMIT 1

</select>
<select id="CompList" resultType="com.one.mat.admin.dto.CompDTO">
        SELECT ll.*, ch.comp_handleContent
        FROM loginlock ll
        LEFT JOIN comphistory ch ON ll.compHistory_idx = ch.compHistory_idx
        WHERE ll.member_idx = #{compIdx}
    </select>

</mapper>