<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.one.mat.admin.dao.MemberListDAO">

  	<select id="memberDetail" resultType="com.one.mat.member.dto.MemberDTO">
  		SELECT m.member_idx, m.member_id, m.member_name, m.member_phone, m.member_email, m.member_nickName, 
  			m.member_roadAddr, m.member_parcelAddr, m.member_detailAddr, m.member_dongAddr, m.member_birth, 
  			m.member_gender, m.member_regDate, m.member_subs, m.member_renew, m.member_loginLock, 
  			m.member_quit, s.subsType_code, sh.subsHistory_start, sh.subsHistory_exp
		FROM member m
		LEFT JOIN subs s ON m.member_idx = s.member_idx
		LEFT JOIN (
		    SELECT sh.member_idx, 
		           MAX(sh.subsHistory_start) as subsHistory_start, 
		           MAX(sh.subsHistory_exp) as subsHistory_exp
		    FROM subshistory sh
		    WHERE sh.member_idx = #{param1}
		    GROUP BY sh.member_idx 
		) sh ON m.member_idx = sh.member_idx
		WHERE m.member_idx = #{param1}		
  	</select>
  	
  	<select id="memberList" resultType="com.one.mat.member.dto.MemberDTO">
  		SELECT m.member_idx, m.member_id, m.member_name, m.member_phone, m.member_email, 
  		m.member_dongAddr, m.member_subs, m.member_renew, m.member_loginLock, 
  		(SELECT s.subsType_code FROM subs s WHERE s.member_idx = m.member_idx) AS subsType_code
  		FROM member m LEFT JOIN subs s ON m.member_idx = s.member_idx  		 
  		<choose>
	        <when test="param1=='member_id'">
	            WHERE member_id LIKE CONCAT('%', #{param2}, '%')
	        </when>
	        <when test="param1=='member_name'">
	            WHERE member_name LIKE CONCAT('%', #{param2}, '%')
	        </when>
	        <when test="param1=='member_dongAddr'">
	            WHERE member_dongAddr LIKE CONCAT('%', #{param2}, '%')
	        </when>
	        <when test="param5=='standard'">
	            WHERE subsType_code =1
	        </when>
	        <when test="param5=='plus'">
	            WHERE subsType_code =2
	        </when>
	        <when test="param5=='premium'">
	            WHERE subsType_code =3
	        </when>
	        <when test="param5=='admin'">
	            WHERE subsType_code =4
	        </when>
	    </choose>  		
  		ORDER BY m.member_idx DESC
  		LIMIT #{param3} OFFSET #{param4}
  	</select>
  	
  	<select id="totalPage" resultType="int">
  		SELECT CEIL(COUNT(m.member_idx)/#{param1}) AS pages FROM member m 
  		LEFT JOIN subs s ON m.member_idx = s.member_idx	
  		<choose>
	        <when test="param2=='member_id'">
	            WHERE member_id LIKE CONCAT('%', #{param3}, '%')
	        </when>
	        <when test="param2=='member_name'">
	            WHERE member_name LIKE CONCAT('%', #{param3}, '%')
	        </when>
	        <when test="param2=='member_dongAddr'">
	            WHERE member_dongAddr LIKE CONCAT('%', #{param3}, '%')
	        </when>
	        <when test="param4=='standard'">
	            WHERE subsType_code =1
	        </when>
	        <when test="param4=='plus'">
	            WHERE subsType_code =2
	        </when>
	        <when test="param4=='premium'">
	            WHERE subsType_code =3
	        </when>
	        <when test="param4=='admin'">
	            WHERE subsType_code =4
	        </when>
	    </choose>
  	</select>
  	
  	<update id="memberAuthMod">
  		UPDATE subs SET subsType_code = #{param1} WHERE member_idx = #{param2}
  	</update>
  	
  	<select id="subsHistory" resultType="com.one.mat.myPage.DTO.SubsDTO">
  		SELECT sh.member_idx, sh.subsType_code, sh.subsHistory_start, 
  		sh.subsHistory_exp, st.subsType, sh.subsHistory_idx, sh.subsHistory_state,
  		st.subsType
		FROM subshistory sh
		RIGHT JOIN member m ON sh.member_idx=m.member_idx
		RIGHT JOIN substype st ON sh.subsType_code=st.subsType_code		
		WHERE sh.member_idx =#{param1} ORDER BY sh.subsHistory_idx DESC
  	</select>
  	
  	<select id="countUser" resultType="int">
  		SELECT COUNT(m.member_idx) FROM member m 
  		LEFT JOIN subs s ON m.member_idx = s.member_idx	
  		<choose>
	        <when test="param1=='member_id'">
	            WHERE member_id LIKE CONCAT('%', #{param2}, '%')
	        </when>
	        <when test="param1=='member_name'">
	            WHERE member_name LIKE CONCAT('%', #{param2}, '%')
	        </when>
	        <when test="param1=='member_dongAddr'">
	            WHERE member_dongAddr LIKE CONCAT('%', #{param2}, '%')
	        </when>
	        <when test="param3=='standard'">
	            WHERE subsType_code =1
	        </when>
	        <when test="param3=='plus'">
	            WHERE subsType_code =2
	        </when>
	        <when test="param3=='premium'">
	            WHERE subsType_code =3
	        </when>
	        <when test="param3=='admin'">
	            WHERE subsType_code =4
	        </when>
	    </choose>
  	</select>
  	
  	<select id="sancHistoryList" resultType="com.one.mat.admin.dto.CompDTO">
  		SELECT l.member_idx, l.compHistory_idx, l.loginLock_sDate, l.loginLock_eDate,
  		ch.comp_handleContent, ct.compType, m.member_id
		FROM loginlock l
		RIGHT JOIN comphistory ch ON l.compHistory_idx=ch.compHistory_idx
		RIGHT JOIN comp c ON c.comp_idx=ch.comp_idx		
		RIGHT JOIN comptype ct ON ct.compType_code = c.compType_code
		RIGHT JOIN member m ON m.member_idx = l.member_idx
		WHERE l.member_idx =#{param1} ORDER BY l.compHistory_idx DESC
  	</select>
  	
  	<select id="getMemberId" resultType="com.one.mat.member.dto.MemberDTO">
  		SELECT member_id, member_idx FROM member WHERE member_idx=#{param1} 
  	</select>
  	
  	
</mapper>  