<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.one.mat.board.dao.BoardDAO">	
	<select id="list" resultType="com.one.mat.board.dto.BoardDTO">
	    SELECT
	        board_id,
	        board_subject,
	        m.member_nickName,
	        board_regDate,
	        board_bHit,
	        (SELECT COUNT(reply_id) FROM reply r WHERE r.board_id = b.board_id AND r.reply_hidden != 'Y') as reply,
	        (SELECT COUNT(photo_id) FROM photo p WHERE p.photo_idfNum = b.board_id AND p.photo_type = 1) as img
	    FROM board b
	    INNER JOIN member m ON b.member_idx = m.member_idx
	    WHERE b.board_hidden != 'Y'
	    ORDER BY board_id DESC
	    LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="totalPage" resultType="int">
		SELECT CEIL(COUNT(board_id)/#{param1}) AS pages FROM board
	</select>

	<select id="search" resultType="com.one.mat.board.dto.BoardDTO">
	    SELECT
	    board_id,
	    board_subject,
	    m.member_nickName,
	    board_regDate,
	    board_bHit
	    FROM board b
	    left outer JOIN member m ON b.member_idx = m.member_idx
	    WHERE
	            b.board_subject LIKE '%'||#{param3}||'%'
	    ORDER BY board_id DESC
	    LIMIT #{param1} OFFSET #{param2}
	</select>
		
	<!-- 
	<select id="totalPageWithSearch" resultType="int">
	    SELECT CEIL(COUNT(board_id)/#{ppn}) AS pages FROM board
	    WHERE
	    <choose>
	        <when test="searchType == 'board_subject'">
	            b.board_subject LIKE '%' || #{searchKeyword} || '%'
	        </when>
	        <when test="searchType == 'board_content'">
	            b.board_content LIKE '%' || #{searchKeyword} || '%'
	        </when>
	        <when test="searchType == 'member_nickName'">
	            m.member_nickName LIKE '%' || #{searchKeyword} || '%'
	        </when>
	    </choose>
	</select>
	 -->
	
	<insert 
		useGeneratedKeys="true"
		keyColumn="board_id"
		keyProperty="board_id"
		id="writeBoard" parameterType="com.one.mat.board.dto.BoardDTO">
		INSERT INTO board(board_subject,member_idx,board_content)VALUES(#{board_subject},#{member_idx},#{board_content})
	</insert>
	
	<insert id="writePhoto">
	    INSERT INTO photo(photo_type, photo_idfNum, photo_fileName, photo_uploadDate)
	    VALUES (1, #{param1}, #{param2}, NOW())
	</insert>
	
	<update id="bHit">
	    UPDATE board SET board_bHit = board_bHit + 1 WHERE board_id = #{param1}
	</update>
	
	<!-- 
	<select id="detail" resultType="com.one.mat.board.dto.BoardDTO">
		SELECT * FROM board WHERE board_id = #{param1}
	</select>	
	 -->
	 <select id="detail" resultType="com.one.mat.board.dto.BoardDTO">
	    SELECT
	        board_id,
	        board_subject,
	        m.member_nickName,
	        board_regDate,
	        board_bHit,
	        board_content,
	        m.member_idx
	    FROM board b
	    INNER JOIN member m ON b.member_idx = m.member_idx
	    WHERE board_id = #{param1}
	</select>
	 
	<select id="getPhoto" resultType="com.one.mat.board.dto.PhotoDTO">
	    SELECT * FROM photo
	    	WHERE photo_idfNum = #{param1} AND photo_type = 1
	</select>
	  
	<update id="del">
		UPDATE board SET board_hidden = 'Y'
			WHERE board_id = #{param1}
	</update>
	
	<update id="update" parameterType="map">
	    UPDATE board SET board_subject = #{board_subject}, board_content = #{board_content}, board_modDate = now()
	    	WHERE board_id = #{board_id}
	</update>
	
	<update id="upbHit">
	    UPDATE board SET board_bHit = board_bHit - 1 WHERE board_id = #{param1}
	</update>
	
	<update id="delphoto" parameterType="int">
    	DELETE FROM photo
    		WHERE photo_id = #{photo_id}
	</update>
	
</mapper>