<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.one.mat.board.dao.BoardDAO">	
	<select id="list" resultType="com.one.mat.board.dto.BoardDTO">
	    SELECT
	        board_id,
	        board_subject,
	        m.member_nickName,
	        board_regDate,
	        board_bHit,
	        (SELECT COUNT(reply_id) FROM reply r WHERE r.board_id = b.board_id AND r.reply_hidden != 'Y') as reply,
	        (SELECT COUNT(photo_id) FROM photo p WHERE p.photo_idfNum = b.board_id AND p.photo_type = 1) as img,
	        (SELECT COUNT(rec_id) FROM recommend r WHERE r.board_id = b.board_id AND r.rec_type = 1) as likeCount
	    FROM board b
	    INNER JOIN member m ON b.member_idx = m.member_idx
	    WHERE b.board_hidden != 'Y'
	    ORDER BY board_id DESC
	    LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="totalPage" resultType="int">
		SELECT CEIL(COUNT(board_id)/#{param1}) AS pages FROM board
			WHERE board_hidden != 'Y'
	</select>
	
	<select id="search" resultType="com.one.mat.board.dto.BoardDTO">
	    SELECT
	        board_id,
	        board_subject,
	        m.member_nickName,
	        board_regDate,
	        board_bHit,
	        (SELECT COUNT(reply_id) FROM reply r WHERE r.board_id = b.board_id AND r.reply_hidden != 'Y') as reply,
	        (SELECT COUNT(photo_id) FROM photo p WHERE p.photo_idfNum = b.board_id AND p.photo_type = 1) as img,
	        (SELECT COUNT(rec_id) FROM recommend r WHERE r.board_id = b.board_id AND r.rec_type = 1) as likeCount
	    FROM board b
	    INNER JOIN member m ON b.member_idx = m.member_idx
	    WHERE
		    <choose>
		        <when test="param3 == 'board_subject'">
		            b.board_subject LIKE CONCAT('%',#{param4},'%')
		        </when>
		        <when test="param3 == 'board_content'">
		            b.board_content LIKE CONCAT('%',#{param4},'%')
		        </when>
		        <when test="param3 == 'member_nickName'">
		            m.member_nickName LIKE CONCAT('%',#{param4},'%')
		        </when>
		    </choose>
		    and b.board_hidden != 'Y'
	    ORDER BY board_id DESC
	    LIMIT #{param1} OFFSET #{param2}
	</select>
		
	<select id="totalPageSearch" resultType="int">
	    SELECT
	    	CEIL(COUNT(board_id)/#{param1}) AS pages
	    FROM board b
	    INNER JOIN member m ON b.member_idx = m.member_idx
	    WHERE
	    <choose>
	        <when test="param2 == 'board_subject'">
	            b.board_subject LIKE CONCAT('%',#{param3},'%')
	        </when>
	        <when test="param2 == 'board_content'">
	            b.board_content LIKE CONCAT('%',#{param3},'%')
	        </when>
	        <when test="param2 == 'member_nickName'">
	            m.member_nickName LIKE CONCAT('%',#{param3},'%')
	        </when>
	    </choose>
	    and board_hidden != 'Y'
	</select>
	
	<insert 
		useGeneratedKeys="true"
		keyColumn="board_id"
		keyProperty="board_id"
		id="writeBoard" parameterType="com.one.mat.board.dto.BoardDTO">
		INSERT INTO board(board_subject,member_idx,board_content)VALUES(#{board_subject},#{member_idx},#{board_content})
	</insert>
	
	<insert id="writePhoto">
	    INSERT INTO photo(photo_type, photo_idfNum, photo_fileName, photo_uploadDate)
	    VALUES (1, #{param1}, #{param2}, NOW())
	</insert>
	
	<update id="bHit">
	    UPDATE board SET board_bHit = board_bHit + 1 WHERE board_id = #{param1}
	</update>
	
	 <select id="detail" resultType="com.one.mat.board.dto.BoardDTO">
	    SELECT
	        board_id,
	        board_subject,
	        m.member_nickName,
	        board_regDate,
	        board_bHit,
	        board_content,
	        m.member_idx
	    FROM board b
	    INNER JOIN member m ON b.member_idx = m.member_idx
	    WHERE board_id = #{param1}
	</select>
	 
	<select id="getPhoto" resultType="com.one.mat.board.dto.PhotoDTO">
	    SELECT * FROM photo
	    	WHERE photo_idfNum = #{param1} AND photo_type = 1
	</select>
	
	<select id="getboardPro" resultType="com.one.mat.board.dto.PhotoBoardProDTO">
		SELECT *
		FROM photo p
		INNER JOIN member m ON m.member_idx = #{param1}
			WHERE photo_type = 4 AND m.member_idx = p.photo_idfNum
		ORDER BY p.photo_id
		LIMIT 1;
	</select>
	  
	<update id="del">
		UPDATE board SET board_hidden = 'Y'
			WHERE board_id = #{param1}
	</update>
	
	<update id="update" parameterType="map">
	    UPDATE board SET board_subject = #{board_subject}, board_content = #{board_content}, board_modDate = now()
	    	WHERE board_id = #{board_id}
	</update>
	
	<update id="upbHit">
	    UPDATE board SET board_bHit = board_bHit - 1 WHERE board_id = #{param1}
	</update>
	
	<update id="delphoto" parameterType="String">
    	DELETE FROM photo
    		WHERE photo_id = #{photo_id}
	</update>
	
	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ추천ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
	<insert 
	    useGeneratedKeys="true"
	    keyColumn="rec_id"
	    keyProperty="rec_id"
	    id="like" parameterType="int">
	    INSERT INTO recommend (board_id, member_idx, rec_type)
	    	VALUES (#{param1}, #{param2}, 1);
	</insert>
	
	<insert 
	    useGeneratedKeys="true"
	    keyColumn="rec_id"
	    keyProperty="rec_id"
	    id="hate" parameterType="int">
	    INSERT INTO recommend (board_id, member_idx, rec_type)
	    	VALUES (#{param1}, #{param2}, 2);
	</insert>
	
	<select id="recommendLike" resultType="int" parameterType="int">
	    SELECT COUNT(*) AS likeCount
	    FROM recommend
	    WHERE board_id = #{param1} AND rec_type = 1;
	</select>
	
	<select id="recommendHate" resultType="int" parameterType="int">
	    SELECT COUNT(*) AS hateCount
	    FROM recommend
	    WHERE board_id = #{param1} AND rec_type = 2;
	</select>
	
	<select id="checkRec" resultType="int" parameterType="int">
		SELECT
			COUNT(*) AS checkCount
		FROM recommend
		where board_id = #{param1} AND member_idx = #{param2};
	</select>
	
	<delete id="deleteRec" parameterType="int">
		DELETE FROM recommend where board_id = #{param1} and member_idx = #{param2};
	</delete>
	
	<select id="recType" resultType="int" parameterType="String">
		SELECT
			rec_type
		FROM recommend
		where board_id = #{param1} AND member_idx = #{param2};
	</select>
	
</mapper>