<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.one.mat.board.dao.BoardDAO">	
	<select id="list" resultType="com.one.mat.board.dto.BoardDTO">
    SELECT
        board_id,
        board_subject,
        m.member_nickName,
        board_regDate,  
        board_bHit
    FROM board b
    INNER JOIN member m ON b.member_idx = m.member_idx
    ORDER BY board_id DESC
    LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="totalPage" resultType="int">
		SELECT CEIL(COUNT(board_id)/#{param1}) AS pages FROM board
	</select>
	
	<insert 
		useGeneratedKeys="true"
		keyColumn="board_id"
		keyProperty="board_id"
	id="writeBoard" parameterType="com.one.mat.board.dto.BoardDTO">
	INSERT INTO board(board_subject,board_content,board_bHit)VALUES(#{board_subject},#{board_content},0)
	</insert>
	
	<insert id="writePhoto">
	INSERT INTO photo (board_id, photo_type, photo_fileName, photo_uploadDate)
		VALUES (#{param1}, 4, '#{param2}', NOW())
	</insert>
	
	<update id="board_bHit">
		UPDATE board SET board_bHit = board_bHit+1 WHERE board_id = #{param1}
	</update>
	
	<select id="detail" resultType="com.one.mat.board.dto.BoardDTO">
		SELECT * FROM board WHERE board_id = #{param1}
	</select>
	
	<select id="getPhoto" resultType="com.one.mat.board.dto.PhotoDTO">
		SELECT * FROM photo WHERE board_id = #{param1}
	</select>
	
	<update id="update" parameterType="map">
		UPDATE board SET board_subject=#{board_subject}, board_content=#{board_content}
			WHERE board_id = #{board_id} 
 	</update>
	
	<delete id="del">
		DELETE FROM board WHERE board_id = #{param1}
	</delete>
	
	
</mapper>