<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.one.mat.board.dao.ReplyDAO">
	
	<select id="replyList" resultType="com.one.mat.board.dto.ReplyDTO"> 
		SELECT 
		    r.reply_id,
		    r.member_idx,
		    r.board_id,
		    r.reply_content,
		    r.reply_regDate,
		    r.reply_modDate,
		    r.reply_hidden,
		    (SELECT m.member_nickName FROM member m WHERE m.member_idx = r.member_idx) AS member_nickName
		FROM reply r
		WHERE r.board_id = #{param1}
		AND r.reply_hidden != 'Y'
		ORDER BY r.reply_id DESC
	</select>
	
	<!-- 
		<select id="replyPro" resultType="com.one.mat.board.dto.PhotoReplyProDTO">
			SELECT * FROM photo pt
			INNER JOIN pro p on p.member_idx = #{param1}
				WHERE photo_type = 4 AND p.pro_idx = pt.photo_idfNum
			ORDER BY pt.photo_id
			LIMIT 1;
		</select>
	 -->
	 
 	<select id="getReplyPro" resultType="com.one.mat.board.dto.PhotoReplyProDTO">
		SELECT * FROM photo
		WHERE photo_idfNum = (
		    SELECT pro_idx
		    FROM pro
		    WHERE member_idx = (
		        SELECT member_idx
		        FROM reply
		        WHERE reply_id = #{param1}
		    )
		    ORDER BY pro_idx
		    LIMIT 1
		)
		AND photo_type = 4
		LIMIT 1
	</select>
	
	<insert 
		useGeneratedKeys="true"
		keyColumn="reply_id"
		keyProperty="reply_id"
		id="replyWrite" parameterType="com.one.mat.board.dto.ReplyDTO">
		INSERT into reply(board_id,member_idx,reply_content)
			value (#{board_id}, #{member_idx}, #{reply_content})
	</insert>
	
	<update id="replyUpdate" parameterType="com.one.mat.board.dto.ReplyDTO">
		UPDATE reply SET
			reply_content = #{reply_content},
			reply_modDate = now()
        WHERE reply_id = #{reply_id}
	</update>
	
	<update id="replyDel">
		UPDATE reply SET
			reply_hidden = 'Y'
		WHERE reply_id = #{param1}
	</update>
	
</mapper>