<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.one.mat.myPage.dao.MyPageDAO">

	<select id="login" resultType="String">
		SELECT member_id FROM member
			WHERE member_id=#{param1} AND member_pw=#{param2}
	</select>
	<select id="MyPageListDo" resultType="com.one.mat.member.dto.MemberDTO">
		SELECT m.member_name, m.member_id, m.member_nickName,
		m.member_gender, m.member_pw, m.member_email, m.member_phone, 
		m.member_roadAddr, m.member_parcelAddr, m.member_detailAddr,
		(SELECT s2.subsType from subs s LEFT JOIN substype s2 on s.subsType_code =s2.subsType_code
		where member_idx =(SELECT m.member_idx from member m where member_id=#{id})) as subsType
	FROM member m LEFT JOIN subs s ON m.member_idx=s.member_idx where member_id =#{id};

	</select>
</mapper>