<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.one.mat.myPage.dao.MyProfileDAO">

<select id="MyProfileListDo" resultType="com.one.mat.member.dto.ProfileDTO">
	SELECT *
FROM pro p
INNER JOIN breed b ON p.pro_idx = b.pro_idx
INNER JOIN breedtype bt ON b.breedType_code = bt.breedType_code where member_idx=#{idx}

</select>
<select id="charType" resultType = "String">
select ct.charType
from `char` c
INNER JOIN chartype ct ON c.charType_code = ct.charType_code where c.pro_idx=#{pro_idx}
</select>
<select id="photo_fileName" resultType = "String">
SELECT pt.photo_fileName
FROM pro p 
INNER JOIN photo pt ON pt.photo_idfNum = p.pro_idx where pt.photo_type = 4 and p.pro_idx =#{pro_idx};
</select>

	<update id="myPageModUpdateDo">

  	</update>
  	
  	<delete id="myProfileDelDo">

</delete>

</mapper>