<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.one.mat.myPage.dao.MyProfileDAO">

<select id="MyProfileListDo" resultType="com.one.mat.member.dto.ProfileDTO">
SELECT *
FROM pro p
INNER JOIN breed b ON p.pro_idx = b.pro_idx
INNER JOIN breedtype bt ON b.breedType_code = bt.breedType_code and pro_quit="N" where member_idx=#{idx}

</select>
<select id="charType" resultType = "com.one.mat.member.dto.ProfileDTO">
select ct.charType, ct.charType_code
from `char` c
INNER JOIN chartype ct ON c.charType_code = ct.charType_code where c.pro_idx=#{pro_idx}
</select>


<select id="pro_dogAgeOpen" resultType = "String">
SELECT po.open_hide
from proopen po
INNER JOIN pro p ON p.pro_idx = po.pro_idx
where openType_code=1 and p.pro_idx=#{pro_idx}
</select>


<select id="pro_dogGenderOpen" resultType = "String">
SELECT po.open_hide
from proopen po
INNER JOIN pro p ON p.pro_idx = po.pro_idx
where openType_code=2 and p.pro_idx=#{pro_idx}
</select>


<select id="photoList" resultType = "com.one.mat.member.dto.PhotoDTO">
SELECT pt.photo_id, pt.photo_type, pt.photo_idfNum, pt.photo_fileName, pt.photo_uploadDate
FROM pro p 
INNER JOIN photo pt ON pt.photo_idfNum = p.pro_idx where pt.photo_type = 4 and p.pro_idx =#{pro_idx}
</select>


<select id="MyProfileModList" resultType="com.one.mat.member.dto.ProfileDTO">
SELECT *
FROM pro p
INNER JOIN breed b ON p.pro_idx = b.pro_idx
INNER JOIN breedtype bt ON b.breedType_code = bt.breedType_code where p.pro_idx=#{param1}
</select>

<select id="charTypeList" resultType="com.one.mat.member.dto.ProfileDTO">
	SELECT charType_code,charType FROM chartype
</select>

<select id="breedTypeList" resultType="com.one.mat.member.dto.ProfileDTO">
	SELECT breedType_code,breedType FROM breedtype
</select>




<update id="myProfileOpenDo">
UPDATE proopen
set open_hide=#{param3} where pro_idx = #{param1} and openType_code=#{param2}
</update>

<update id="myProfileRepDel">
UPDATE pro
SET pro_rep = 'N'
WHERE member_idx =  #{param2}
</update>
<update id="myProfileRepDo">
UPDATE pro
SET pro_rep = 'Y'
WHERE pro_idx = #{param1}
</update>





<update id="myProfileModUpdateDo" parameterType="map">
UPDATE pro p
JOIN breed b ON p.pro_idx = b.pro_idx
SET p.pro_dogName = #{pro_dogName},
    p.pro_dogAge = #{pro_dogAge},
    p.pro_dogGender = #{pro_dogGender},
    p.pro_dogDesc = #{pro_dogDesc},
    b.breedType_code = #{breedType_code}
WHERE p.pro_idx = #{pro_idx}
</update>


<delete id="charTypeDel">
DELETE FROM `char`
WHERE pro_idx =#{param1}
</delete>
<insert id="charTypeSave">
INSERT INTO `char` (pro_idx, charType_code)
VALUES
(#{param1}, #{param2}),
(#{param1}, #{param3}),
(#{param1}, #{param4}),
(#{param1}, #{param5})
</insert>




  	
<update id="myProfileDelDo">
UPDATE pro
SET pro_quit = 'Y'
WHERE pro_idx = #{param1}
</update>


<select id="repPhotoName" resultType="String">
		SELECT pt.photo_fileName
		FROM pro p 
		INNER JOIN photo pt ON pt.photo_idfNum = p.pro_idx 
		WHERE pt.photo_type = 4 AND p.pro_rep='Y' AND p.member_idx = #{param1} ORDER BY pt.photo_id ASC LIMIT 1
	</select>

<!-- 세연 추가 -->

	<select id="photoName" resultType="String">
		SELECT pt.photo_fileName
		FROM pro p 
		INNER JOIN photo pt ON pt.photo_idfNum = p.pro_idx 
		WHERE pt.photo_type = 4 AND p.pro_idx = #{param1} ORDER BY pt.photo_id ASC LIMIT 1
	</select>
	
	<delete id="delPhotoName">
		DELETE FROM photo WHERE photo_type = 4 AND photo_fileName = #{param1}
	</delete>
	
	<delete id="photoDel">
		DELETE FROM photo WHERE photo_type = 4 AND photo_idfNum = #{param1}
	</delete>
	
	<insert id="photoInsert">
		INSERT INTO photo(photo_type,photo_idfNum,photo_fileName,photo_uploadDate)
		VALUES(4,#{param1},#{param2},NOW())
	</insert>

	<select id="photoUploadDo" resultType="String">
		SELECT photo_fileName FROM photo WHERE photo_type = 4 AND photo_idfNum = #{param1}
	</select>

	<select id="getPhoto" resultType="String">
		SELECT photo_fileName FROM photo WHERE photo_type = 4 AND photo_idfNum = #{param1}
	</select>


</mapper>