<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.one.mat.myPage.dao.SubsDAO">

<update id="plusSubsDo">
UPDATE subs s
JOIN member m on m.member_idx = s.member_idx
set
s.subsType_code=2,
m.member_subs="Y",
m.member_renew="Y"
where m.member_idx = #{param1}
</update>

<insert id="plusHistory">
INSERT INTO subshistory
(member_idx, subsType_code, subsHistory_state, subsHistory_start, subsHistory_exp)
SELECT member_idx, 2, 'Y', #{param2}, #{param3}
FROM member
WHERE member_idx = #{param1}
</insert>

  
 <update id="premiumSubsDo">
UPDATE subs s
JOIN member m on m.member_idx = s.member_idx
set
s.subsType_code=3,
m.member_subs="Y",
m.member_renew="Y"
where m.member_idx = #{param1}
</update>

<insert id="premiumHistory">
INSERT INTO subshistory
(member_idx, subsType_code, subsHistory_state, subsHistory_start, subsHistory_exp)
SELECT member_idx, 3, 'Y', #{param2}, #{param3}
FROM member
WHERE member_idx = #{param1};
</insert>



  
  
  <update id="myPageSubsDeleteDo">
  UPDATE subs s
JOIN member m on m.member_idx = s.member_idx
set
s.subsType_code=1,
m.member_subs="Y",
m.member_renew="N"
where m.member_idx = #{param1}
  </update>







</mapper>