<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.one.mat.member.dao.RegProfileDAO">

	<insert id="chattingcompSave"
		parameterType="com.one.mat.admin.dto.CompDTO">
		INSERT INTO
		comp(comp_memberIdx,compType_code,comp_loc,comp_idfNum,comp_content,comp_receiveDate,comp_reportIdx)
		VALUES(#{member_idx},#{compType_code},3,#{comp_idfNum},#{comp_content},(select
		DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%s')),#{comp_reportIdx});
	</insert>

	<insert id="compPhoto" parameterType="String">
		insert into photo(photo_type,photo_idfNum,photo_fileName,photo_uploadDate)
		value(3,(select max(comp_idx) from comp),#{photo},(select
		DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%s')));
	</insert>

	<insert id="boardcompSave"
		parameterType="com.one.mat.admin.dto.CompDTO">
		INSERT INTO
		comp(comp_memberIdx,compType_code,comp_loc,comp_idfNum,comp_content,comp_receiveDate,comp_reportIdx)
		VALUES(#{member_idx},#{compType_code},1,#{board_id},#{comp_content},(select
		DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%s')),(SELECT member_idx FROM board
		WHERE board_id = #{board_id}));
	</insert>

	<insert id="commentcompSave"
		parameterType="com.one.mat.admin.dto.CompDTO">
		INSERT INTO
		comp(comp_memberIdx,compType_code,comp_loc,comp_idfNum,comp_content,comp_receiveDate,comp_reportIdx)
		VALUES(#{member_idx},#{compType_code},2,#{reply_id},#{comp_content},(select
		DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%s')),(SELECT member_idx FROM reply
		WHERE reply_id = #{reply_id}));
	</insert>

	<select id="compList" resultType="com.one.mat.admin.dto.CompDTO">
		SELECT compType_code,compType FROM comptype;
	</select>

	<insert id="historySave" parameterType="int">
		INSERT INTO comphistory (admin_memberIdx, comp_idx, comp_handleContent,
		comp_handleState, comp_blindStete, member_loginLock)
		VALUES (#{memberIdx}, (SELECT MAX(comp_idx) FROM comp), NULL,'Null', 'N',
		'N');
	</insert>

	<select id="memberDetail"
		resultType="com.one.mat.member.dto.MemberDTO">
		SELECT member.member_gender, member.member_dongAddr, member.member_nickName
		FROM member
		JOIN pro ON member.member_idx = pro.member_idx
		WHERE pro.pro_idx = 13;
	</select>
	<select id="charlist"
		resultType="com.one.mat.member.dto.ProfileDTO">
		SELECT chartype.charType
		FROM `char`
		JOIN chartype ON `char`.charType_code = chartype.charType_code
		WHERE `char`.pro_idx = 13;
	</select>
	<select id="memberDetailListPhoto"
		resultType="com.one.mat.member.dto.PhotoDTO">
		select photo_fileName from photo p where photo_idfNum = 61;
	</select>
	<select id="proDetail"
		resultType="com.one.mat.member.dto.ProfileDTO">
		SELECT
		pro.pro_dogName,
		pro.pro_dogAge,
		pro.pro_dogGender,
		pro.pro_dogDesc,
		pro.pro_dogScore,
		breedType.breedType
		FROM pro
		LEFT JOIN breed ON pro.pro_idx = breed.pro_idx
		LEFT JOIN breedType ON breed.breedType_code = breedType.breedType_code
		WHERE pro.pro_idx = 13;
	</select>


	<!-- regProfile -->

	<select id="list" resultType="com.one.mat.member.dto.ProfileDTO">
		SELECT charType_code,charType FROM chartype
	</select>
	<select id="list2" resultType="com.one.mat.member.dto.ProfileDTO">
		SELECT breedType_code,breedType FROM breedtype
	</select>
	
	<!-- generatedKey 사용 -->
	<insert useGeneratedKeys="true" keyColumn="pro_idx"
		keyProperty="pro_idx" id="profileSaveDo"
		parameterType="com.one.mat.member.dto.ProfileDTO">
		INSERT INTO pro(
			member_idx,
			pro_dogName,
			pro_dogAge,
			pro_dogGender,
			pro_dogDesc,
			pro_dogScore,
			pro_rep,
			pro_quit
		)
		VALUES(
		#{member_idx},
		#{pro_dogName},
		#{pro_dogAge},
		#{pro_dogGender},
		#{pro_dogDesc},
		#{pro_dogScore},
		#{pro_rep},
		#{pro_quit}
		)
	</insert>
	<!-- proOpen 여부 -->
	<insert id="proOpenAge">
		INSERT INTO proopen(pro_idx,openType_code,open_hide)
		VALUES(#{param1},1,"Y")
	</insert>
	<insert id="proOpenGender">
		INSERT INTO proopen(pro_idx,openType_code,open_hide)
		VALUES(#{param1},2,"Y")
	</insert>
	<insert id="breed">
		INSERT INTO breed(pro_idx, breedType_code)
		VALUES(#{param1},#{param2})
	</insert>
	<insert id="charTypeSave">
		INSERT INTO `char` (pro_idx, charType_code)
		VALUES
		(#{param1}, #{param2}),
		(#{param1}, #{param3}),
		(#{param1}, #{param4}),
		(#{param1}, #{param5})
	</insert>
	<insert id="photoInsert">
		INSERT INTO photo(photo_type,photo_idfNum,photo_fileName,photo_uploadDate)
		VALUES(4,#{param1},#{param2},NOW())
	</insert>
	<select id="checkPro" resultType="int">
		SELECT pro_idx FROM pro WHERE member_idx = #{param1}
	</select>
	




</mapper>